<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Biodiversity</title>

    <link rel="stylesheet" type="{{ url_for('static', filename='./css/stylesheet.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<body>

    <!-- Jumobtron -->
    <div class='container'>
        <div class="jumbotron">
            <h1 class="display-3">Belly Button Biodiversity Dashboard</h1>
                <p class="lead">Use interactive charts to explore the dataset</p>

        </div>
    </div>


    <div class='container'>
        <div class="row">
            <div class="col-sm-12" style="width: 480px; height: 200px;">
                <center>
                    <h2>Sample Selection</h2>
                        <select id="selDataset" onchange="getData(this.value)">
                            <option value=#>Select Sample</option>
                    </select>
                </center>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            
                <div class='col-sm-3'>
                        <h2 class='sub=-header'>Sample MetaData</h2>
                        <ul id='metaList'></ul>
                </div>

                <div class='col-sm-4'>
                        <div id="pie" ></div>
                </div>
            
                <div class='col-sm-5'>   
                        <h2 class='sub=-header'>Belly Button Washing Frequency</h2>
                        <div id="gauge" style="width: 480px; height: 400px;"></div>               
                </div>
            
        </div>
    </div>


    <div class='container'>
        <div class='row'>
            <div class='col-sm-12'>
                <center><h2>Bubble Chart of the Bacteria Distrubution (all data)</h2></center>
                    <div id="bubble" style="width: 480px; height: 400px;"></div>
            </div>
        </div>
    </div>

    <hr>

      

    <script type="text/javascript" src="{{ url_for('static', filename='./javascript/app.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>